@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding: 32px 40px;
   max-width: 1200px;
}

h1 {
    color: #fff;
    font-family: "Fraunces", serif;
    font-size: 80px;
    text-align: center;
    max-width: 635px;
    margin: 0 auto 36px;
}

h2 {
    font-size: 56px;
    font-family: "Fraunces", serif;
    margin-bottom: 32px;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    underline: #44FFA1;
    text-decoration-color: #44FFA1;
}

span {
    text-decoration: underline;
    text-decoration-color: #44FFA1;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 60vh;  
    position: relative;
}

.bg_img_1 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-40%);
    width: 20%;
}

.bg_img_2 {
    position: absolute;
    right: 0;
    bottom: 30%;
    transform: translateX(40%);
    width: 10%;
}

.hero::before {
    position: absolute;
    content: '';
    width: 75%;
    height: 50%;
    background-color: #24053E;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translateX(70%);
    transform: scale(3);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.btn {
    background-color: #44FFA1;
    color: #24053E;
    padding: 16px 32px;
    margin-bottom: 50px;
}

.hero__img {
    width: 50%;
    max-width: 765px;
}

.founder__container {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 8rem;
}

.founder img {
    width: 40%;
    position: relative;
}

.founder__info {
    background-color: #24053E;
    color: #fff;
    max-width: 800px;
    padding: 64px;
    position: absolute;
    content: '';
    left: 32%;
    top: 35%;
}

.founder__info--para {
    margin-bottom: 32px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;
}

.footer__logo {
    margin-bottom: 16px;
}

.footer__socials {
    display: flex;
    justify-content: center;
}

.footer__social {
   padding: 0 16px;
}


