@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.125rem;
    overflow-x: hidden;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding: 2rem 6rem;
   background-color: #24053E;
}

h1 {
    color: #fff;
    font-family: "Fraunces", serif;
    font-size: 5rem;
    text-align: center;
    max-width: 635px;
    margin: 0 auto 36px;
}

h2 {
    font-size: 56px;
    font-family: "Fraunces", serif;
    margin-bottom: 32px;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration-color: #44FFA1;
}

li a:hover {
    color: #44FFA1;

}

span {
    text-decoration: underline;
    text-decoration-color: #44FFA1;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 70vh;  
    position: relative;
    width: 100%;
}

.bg_img_1 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-40%);
    width: 20%;
}

.bg_img_2 {
    position: absolute;
    right: 0;
    bottom: 30%;
    transform: translateX(40%);
    width: 10%;
}

.hero::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    background-color: #24053E;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translateX(70%);
    transform: scale(3);
    z-index: -1;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.btn {
    background-color: #44FFA1;
    color: #24053E;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #24053E;
    color: #44FFA1;
    border: 1px solid #44FFA1;
}

.hero__img {
    width: 80%;
    max-width: 40rem;
    margin-top: 2rem;
    z-index: 5;
}

.features {
    position: relative;
}

.features__container {
    margin: 4rem auto;
    display: flex;
    max-width: 1100px;
    width: 100%;
    padding: 160px 0;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
    text-align: center;
    font-family: "Manrope", sans-serif;
    color: #24053E;
    font-size: 18px;
    width: calc(100% / 3);
}

.feature__heading {
    font-family: "Fraunces", serif;
    font-size: 24px;
    margin-bottom: 28px;
}

.number {
    border: 1px solid #24053E;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 56px 0;
    font-family: "Fraunces", serif;
    font-size: 24px;
    color: #584D62;
}

.features::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    background-color: #FCF8FF;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translateY(50%);
    transform: scale(3);
    z-index: -2;
}

.founder {
    margin: 15rem auto;
}
.founder__container {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

.founder img {
    width: 40%;
    position: relative;
}

.founder__info {
    background-color: #24053E;
    color: #fff;
    max-width: 800px;
    padding: 64px;
    position: absolute;
    content: '';
    left: 32%;
    top: 35%;
}

.bg-img-3 {
    position: absolute;
    right: -300px;
    bottom: 0;
    transform: translateY(70%);
    overflow: hidden;
    max-width: 175px;
    width: 100%;
}

.founder__info--para {
    margin-bottom: 32px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;
}

.footer__logo {
    margin-bottom: 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
}

.footer__social {
   padding: 0 16px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1rem;
        overflow-x: hidden;
    }
    nav {
        padding: 2rem .5rem;
    }
    h1 {
        font-size: 3.125rem;
    }

    h2 {
        font-size: 2rem;
    }

    .hero .container {
        margin: 3rem 0;
    }

    .hero__img{
        padding-top: 4rem;
    }

    .btn {
        margin-bottom: 2rem;
    }
    .features__container {
        flex-direction: column;
        align-items: center;
        margin: 4rem 0;
    }

    .feature {
        width: 100%;
        max-width: 340px;
        padding: 0 1rem;
        font-size: inherit;

    }
    .features::before {
        height: 50%; 
        transform: translateY(50%);
        transform: scale(3);
        z-index: -2;
    }
    .founder__container {
     width: 100%;
     max-width: 700px;
    }

    .founder img {
        width: 60%;
        left: 50%;
        top: -100px;
        transform: translateX(-50%);
    }

    .founder__info {
        left: 0;
        text-align: center;
        overflow-x: hidden;
    }

    .founder__info--para {
        font-size: 16px;
        width: 100%;
        max-width: 280px;
        line-height: 1.5;
        padding-bottom: 1.5rem;
    }

    .footer__logo{
        margin-top: 6rem;
        margin-bottom: 1rem;
    }
}