@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}
header, .hero {
    background-color: #24053E;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding: 32px 40px;
   max-width: 1200px;
}

h1 {
    color: #fff;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.hero {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.hero__img {
    width: 25%;
}